html {
    background-color: #333333;
    color: #e6e6e6;
    font-family: sans-serif;
}

body {
    text-align: center;
}

#title, #subtitle {
    text-align: center;
}

.slider {
    vertical-align: middle;
}

#log {
    width: 250px;
    border-color: grey;
    border-width: thin;
    border-style: solid;
    height: 500px;
    font-family: monospace;
    background-color: #222222;
    color: white;
    resize: none;
}

table {
    margin-left: auto;
    margin-right: auto;
}

#links {
    font-size: 2em;
}

.infocell {
    padding: 1em;
    font-size: 1.25em;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

a:active {
    color: white;
}
